<div class="nav navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="recipes">Recipe</a></li>
        <li routerLinkActive="active"><a routerLink="recipes-shopping">Shopping</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a style="cursor: pointer" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer" (click)="saveData()">Save Data</a></li>
            <li><a style="cursor: pointer" (click)="fetchData()">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<!--<div class="jumbotron">-->
  <!--<div class="row">-->
    <!--<div class="col-md-12">-->
      <!--<h1>Recipe Management System</h1>-->
      <!--<p>Checkout latest recipes and shop</p>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<nav class="navbar navbar-default">-->
      <!--<div class="container-fluid">-->
        <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
        <!--<div class="navbar-header">-->
          <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"-->
                  <!--data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
            <!--<span class="sr-only">Toggle navigation</span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
          <!--</button>-->
          <!--<a class="navbar-brand" href="#">Vijay's App</a>-->
        <!--</div>-->

        <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
        <!--<div class="collapse navbar-collapse">-->
          <!--<ul class="nav navbar-nav">-->
            <!--<li><a href="#">Shopping</a></li>-->
            <!--<li><a href="#">Recipe</a></li>-->

          <!--</ul>-->
          <!--<ul class="nav navbar-nav navbar-right">-->
            <!--<li class="dropdown">-->
              <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actions <span class="caret"></span></a>-->
              <!--<ul class="dropdown-menu">-->
                <!--<li><a href="#">Action</a></li>-->
                <!--<li><a href="#">Another action</a></li>-->
                <!--<li><a href="#">Something else here</a></li>-->
                <!--<li role="separator" class="divider"></li>-->
                <!--<li><a href="#">Separated link</a></li>-->
              <!--</ul>-->
            <!--</li>-->
          <!--</ul>-->


        <!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
      <!--</div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->
    <!--</nav>-->
  <!--</div>-->
<!--</div>-->
